/.idea/*
*.ipynb
/tmp/*
/DLA_Labs/L1_CNNs/checkpoints/*
/DLA_Labs/L1_CNNs/data/*
/DLA_Labs/L1_CNNs/runs/*
/DLA_Labs/L1_CNNs/CAM/cam_results/*
/DLA_Labs/L1_CNNs/CAM/checkpoints/*
/DLA_Labs/L1_CNNs/CAM/data/*
/DLA_Labs/L1_CNNs/CAM/runs/*
/DLA_Labs.egg-info/*
/DLA_Labs/L2_DRL/cartpole/wandb/*
/DLA_Labs/L2_DRL/car_racing/wandb/*
/DLA_Labs/L1_CNNs/mlp_results/*
/DLA_Labs/L3_Transformers/wandb/*
/DLA_Labs/L3_Transformers/results/*
*pyc
